body {
    background-color: rgb(140, 212, 245);
}

.heading {
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 8px rgb(0, 0, 0);
}

.slider-hero {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border: 8px solid rgb(255, 255, 255);
    background-color: black;
}

.slide-content {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}

.slick-prev:before {
    content: "<";
    font-size: 30px;
    }
    
  
  .slick-next:before {
    content: ">";
    font-size: 30px;
  }